<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprofit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test"
        android:targetPackage="com.androidprofit" />

    <application
        android:name="com.androidprofit.MainApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.androidprofit.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidprofit.AppDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.androidprofit.ExchangeSendActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidprofit.action.exchange.send" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
                android:name="com.umeng.common.net.DownloadingService"
                android:exported="true"
                android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5200ec7256240b266a023583" >
        </meta-data>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="test" >
        </meta-data>

    </application>


</manifest>